body {
    font-family: "roboto", Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.box_heder {
    background: #EEEFF1;
    padding-top: 80px;
    padding-bottom: 80px;
}

.navigation  {
    margin: 0 auto;
    max-width: 1000px;
}

ul a {
    text-decoration: none;
    font-size: 16px;
    color: #34547A;
}

.menu>ul {
    display: inline-block;
    padding: 0 20px 0 0;
}

h1 {
    margin-bottom: 60px;
}

.fonehad p {
    width: 500px;
    margin-bottom: 65px;
}

.btn {
    text-decoration: none;
    display: block;
    width: 225px;
    height: 65px;
    text-align: center;
    text-transform: uppercase;
    background: #34547A;
    color: #FFFFFF;
    padding-top: 25px;
}

.text {
    text-align: center;
    width: 600px;
    margin: 0 auto;
    padding-bottom: 100px;
    background: #FFFFFF;
}

.text h2 {
    margin-top: 112px;
    margin-bottom: 50px;
}

.picture {
    background: #34547A;
    padding: 100px 0;
}

.box {
    width: 1000px;
    margin: 0 auto;
}

.icon li{
    list-style: none;
    display: inline-block;
     margin-right: 35px;
}

.icon_text {
    display: inline-block;
    margin: 0 auto;
    margin-left: 10px;
    font-size: 23px;
    color: 
    #FFFFFF;
}
strong {
    display: block;
}

span {
    font-size: 16px;
}

.video {
    width: 1000px;
    margin: 0 auto;
}

.sign {
    background: #34547A;
    padding: 50px 0;
}

.sign h3, span {
    color: #FFFFFF;
}

.footer {
width: 1000px;
margin: 0 auto;
}

main {
    padding-bottom:100px ;
}